In [1]:
#!pip install pandas-summary
#!pip install numpy
#!pip install scikit-learn
#!pip install keras
#!pip install tensorflow
#! pip install matplotlib
#!pip install isoweek
#!pip install pyarrow
#! pip install sklearn_pandas
#! pip install mlflow

# Datos estructurados - ITBA 2020

https://www.kaggle.com/c/datos-estructurados-itba-2020/overview

In [2]:
import numpy as np
import pandas as pd
#  pip install pandas_summary
from pandas_summary import DataFrameSummary

In [3]:
import os
PATH_PROCESSED = 'processed/'
# Check whether the specified path exists or not
isExist = os.path.exists(PATH_PROCESSED)
if not isExist:

    # Create a new directory because it does not exist
    os.makedirs(PATH_PROCESSED)
    print("The new directory is created!")

The new directory is created!

# Competencia de Kaggle

[ir a Kaggle](https://www.kaggle.com/c/datos-estructurados-itba-2020/overview)

# Métrica de la competencia

$$
\textrm{RMSPE} = \sqrt{\frac{1}{n} \sum_{i=1}^{n} \left(\frac{\hat{y}_i - y_i}{y_i}\right)^2}
$$

## Importamos dataset

Conclusiones de los archivos

Embeddings de 3 en occupation, verlo en grafica cuán cerca están
Genero: entrarlo como está
Zip: Embedding 2 nodos
Gender: 1 Embedding
Age: 4 embeddings
Release Date: 9 embeddings


Datos que determinaran el rating
* item: release date, [tipo pelicula]
* user: age, gender, occupation, zip code
* train/test: rating

Conversiones:
item.release date > mes-año
train.timestamp > mes-año ??

* u.data: user id | item id | rating | timestamp
* u.item: movie id | movie title | release date | video release date |
              IMDb URL | unknown | Action | Adventure | Animation |
              Children's | Comedy | Crime | Documentary | Drama | Fantasy |
              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
              Thriller | War | Western |
* u.user: user id | age | gender | occupation | zip code
* u1..n: are 80%/20% splits of the u data
* ua/ub: split the u data exactly 10 ratings per user in the set.

In [4]:
PATH_PROCESSED='processed/'
PATH = 'dataset/'

user, occupation = [pd.read_csv(PATH + fname+'.csv', low_memory=False, sep="|") for fname in ['user', 'occupation']]
info, train = [pd.read_csv(PATH + fname+'.csv', low_memory=False, sep="\t") for fname in ['info', 'train']]
test = pd.read_csv(PATH + 'test.csv', low_memory=False, sep=",")
item = pd.read_csv(PATH + 'item.csv',  low_memory=False, encoding='latin-1', sep="|")

item.rename( columns={'movieId' :'movie_id', 'movieTitle' :'movie_title', 'release date' :'release_date', 'video release date' :'video_release_date', 'IMDb URL' :'imdb_url', 'unknown' :'unknown', 'Action' :'action', 'Adventure' :'adventure', 'Animation' :'animation', 'Children\'s' :'children', 'Comedy' :'comedy', 'Crime' :'crime', 'Documentary' :'documentary', 'Drama' :'drama', 'Fantasy' :'fantasy', 'Film-Noir' :'film-noir', 'Horror' :'horror', 'Musical' :'musical', 'Mystery' :'mystery', 'Romance' :'romance', 'Sci-Fi' :'sci-fi', 'Thriller' :'thriller', 'War' :'war', 'Western' :'western'}, inplace=True)

user.rename( columns={'user id' :'user_id', 'age' :'age', 'gender' :'gender', 'occupation' :'occupation', 'zip code' :'zip_code'}, inplace=True)

train.rename( columns={'userId' :'user_id', 'movieId' :'movie_id'}, inplace=True)
test.rename( columns={'Id' :'id', 'userId' :'user_id', 'movieId' :'movie_id'}, inplace=True)
#data = train + test
data = train

In [5]:
train

       user_id  movie_id  rating  timestamp
0            1         1       5  874965758
1            1         2       3  876893171
2            1         3       4  878542960
3            1         4       3  876893119
4            1         5       3  889751712
...        ...       ...     ...        ...
79995      943      1067       2  875501756
79996      943      1074       4  888640250
79997      943      1188       3  888640250
79998      943      1228       3  888640275
79999      943      1330       3  888692465

[80000 rows x 4 columns]

In [6]:
display(item.head())
display(DataFrameSummary(item).summary())

,movie_id,movie_title,release_date,video_release_date,imdb_url,unknown,action,adventure,animation,children,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

,movie_id,movie_title,release_date,video_release_date,imdb_url,unknown,action,adventure,animation,children,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
count,1682.0,NaN,NaN,0.0,NaN,1682.0,1682.0,1682.0,1682.0,1682.0,...,1682.0,1682.0,1682.0,1682.0,1682.0,1682.0,1682.0,1682.0,1682.0,1682.0
mean,841.5,NaN,NaN,NaN,NaN,0.001189,0.149227,0.080262,0.02497,0.072533,...,0.01308,0.014269,0.054697,0.033294,0.036266,0.146849,0.060048,0.149227,0.042212,0.016052
std,485.695893,NaN,NaN,NaN,NaN,0.034473,0.356418,0.271779,0.156081,0.259445,...,0.11365,0.118632,0.227455,0.179456,0.187008,0.354061,0.237646,0.356418,0.201131,0.125714
min,1.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,421.25,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,841.5,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,1261.75,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1682.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
counts,1682,1682,1681,0,1679,1682,1682,1682,1682,1682,...,1682,1682,1682,1682,1682,1682,1682,1682,1682,1682
uniques,1682,1664,240,0,1660,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
missing,0,0,1,1682,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0.06%,100%,0.18%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,categorical,categorical,numeric,categorical,bool,bool,bool,bool,bool,...,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool

In [7]:
user.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [8]:
display(user.head())
display(DataFrameSummary(user).summary())

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

                 user_id        age gender   occupation     zip_code
count              943.0      943.0    NaN          NaN          NaN
mean               472.0  34.051962    NaN          NaN          NaN
std           272.364951   12.19274    NaN          NaN          NaN
min                  1.0        7.0    NaN          NaN          NaN
25%                236.5       25.0    NaN          NaN          NaN
50%                472.0       31.0    NaN          NaN          NaN
75%                707.5       43.0    NaN          NaN          NaN
max                943.0       73.0    NaN          NaN          NaN
counts               943        943    943          943          943
uniques              943         61      2           21          795
missing                0          0      0            0            0
missing_perc          0%         0%     0%           0%           0%
types            numeric    numeric   bool  categorical  categorical

- Mirar counts que todos tienen la misma cantidad
- Ninguno tiene missing
- Los tipos tambien es interesante observar

In [9]:
(data['rating'].isna()).sum()

0

In [10]:
# Find the missing value
item['release_date'].unique()
item.index[item[item['release_date']==None].any(axis=1)].tolist()

#item.loc[item['release_date'].isna() | (len(item['release_date'])<2), 'release_date']

[]

In [11]:
user['gender'].value_counts()

M    670
F    273
Name: gender, dtype: int64

In [12]:
# Detect users with lot of votes
lotOfVotes = 70

rating_amount = data.groupby("user_id").count()
print(rating_amount[rating_amount['rating'] > lotOfVotes].head())

         movie_id  rating  timestamp
user_id
1             135     135        135
5              91      91         91
6             110     110        110
7             213     213        213
10             94      94         94

In [13]:
# Detect users with few votes
data['movie_id'].value_counts().tail(n=10)

1307    1
1371    1
1627    1
1436    1
1500    1
1675    1
1564    1
1460    1
1332    1
1663    1
Name: movie_id, dtype: int64

In [14]:
#train.groupby("userId")["rating"].transform("median")
userId = 36
user_training = data[data['user_id'] == userId]
print("User avg rating", user_training.groupby("user_id")["rating"].transform("mean").iloc[0])
#user_training['user-ranking'].iloc[0]

print(data[data['user_id'] == userId])

User avg rating 4
      user_id  movie_id  rating  timestamp
2232       36       261       5  882157581
2233       36       288       4  882157227
2234       36       289       2  882157356
2235       36       333       4  882157227
2236       36       358       5  882157581
2237       36       873       3  882157386
2238       36       875       3  882157470
2239       36       878       5  882157581
2240       36      1026       5  882157581

In [15]:
data.movie_id.tolist()

[1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 11,
 13,
 15,
 16,
 18,
 19,
 21,
 22,
 25,
 26,
 28,
 29,
 30,
 32,
 34,
 35,
 37,
 38,
 40,
 41,
 42,
 43,
 45,
 46,
 48,
 50,
 52,
 55,
 57,
 58,
 59,
 63,
 66,
 68,
 71,
 75,
 77,
 79,
 83,
 87,
 88,
 89,
 93,
 94,
 95,
 99,
 101,
 105,
 106,
 109,
 110,
 111,
 115,
 116,
 119,
 122,
 123,
 124,
 126,
 127,
 131,
 133,
 135,
 136,
 137,
 138,
 139,
 141,
 142,
 144,
 146,
 147,
 149,
 152,
 153,
 156,
 158,
 162,
 165,
 166,
 167,
 168,
 169,
 172,
 173,
 176,
 178,
 179,
 181,
 182,
 187,
 191,
 192,
 194,
 195,
 197,
 198,
 199,
 203,
 204,
 205,
 207,
 211,
 216,
 217,
 220,
 223,
 231,
 234,
 237,
 238,
 239,
 240,
 244,
 245,
 246,
 247,
 249,
 251,
 256,
 257,
 261,
 263,
 268,
 269,
 270,
 271,
 1,
 10,
 14,
 25,
 100,
 111,
 127,
 237,
 242,
 255,
 258,
 269,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 291,
 293,
 294,
 295,
 296,
 300,
 302,
 304,
 305,
 306,
 309,
 310,
 311,
 181,
 258,
 260,
 268,
 271,
 288,
 302,
 303,
 317,
 319,
 320,
 321,
 322,
 325,
 326,
 329,
 333,
 336,
 338,
 339,
 340,
 342,
 344,
 346,
 347,
 352,
 353,
 355,
 11,
 210,
 258,
 271,
 300,
 301,
 324,
 327,
 328,
 329,
 358,
 359,
 360,
 362,
 21,
 25,
 29,
 50,
 63,
 66,
 70,
 95,
 99,
 101,
 105,
 121,
 135,
 145,
 151,
 162,
 163,
 168,
 169,
 172,
 174,
 181,
 183,
 186,
 189,
 194,
 200,
 204,
 208,
 210,
 216,
 226,
 228,
 229,
 233,
 235,
 239,
 250,
 257,
 365,
 366,
 367,
 368,
 371,
 373,
 374,
 375,
 378,
 380,
 381,
 383,
 386,
 387,
 390,
 392,
 395,
 396,
 398,
 399,
 401,
 404,
 405,
 406,
 408,
 409,
 412,
 414,
 415,
 416,
 419,
 420,
 425,
 427,
 430,
 431,
 432,
 434,
 437,
 438,
 440,
 442,
 443,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 455,
 456,
 1,
 7,
 8,
 9,
 12,
 13,
 21,
 22,
 47,
 50,
 64,
 71,
 79,
 89,
 111,
 127,
 132,
 137,
 153,
 165,
 166,
 168,
 169,
 170,
 173,
 174,
 177,
 178,
 182,
 185,
 186,
 191,
 192,
 194,
 200,
 202,
 203,
 216,
 223,
 237,
 242,
 246,
 257,
 259,
 261,
 268,
 272,
 274,
 285,
 293,
 298,
 302,
 303,
 306,
 308,
 309,
 310,
 317,
 321,
 340,
 367,
 405,
 408,
 410,
 419,
 425,
 427,
 435,
 460,
 461,
 462,
 464,
 465,
 468,
 472,
 473,
 474,
 482,
 485,
 489,
 490,
 491,
 493,
 494,
 495,
 496,
 497,
 501,
 502,
 503,
 504,
 505,
 507,
 510,
 512,
 514,
 516,
 519,
 520,
 522,
 527,
 529,
 530,
 531,
 533,
 535,
 536,
 537,
 538,
 539,
 4,
 9,
 11,
 12,
 23,
 25,
 27,
 29,
 31,
 39,
 47,
 50,
 51,
 52,
 56,
 62,
 64,
 68,
 69,
 70,
 71,
 73,
 77,
 80,
 86,
 91,
 96,
 97,
 98,
 99,
 100,
 125,
 132,
 134,
 135,
 140,
 141,
 143,
 144,
 145,
 152,
 157,
 164,
 173,
 175,
 178,
 179,
 180,
 186,
 187,
 192,
 194,
 197,
 198,
 199,
 201,
 202,
 204,
 211,
 213,
 214,
 215,
 216,
 217,
 219,
 229,
 230,
 231,
 234,
 237,
 238,
 258,
 265,
 275,
 286,
 294,
 309,
 317,
 318,
 324,
 341,
 356,
 357,
 365,
 367,
 379,
 380,
 384,
 386,
 387,
 391,
 402,
 403,
 405,
 415,
 416,
 417,
 419,
 421,
 427,
 429,
 433,
 434,
 436,
 440,
 441,
 443,
 444,
 446,
 447,
 449,
 452,
 463,
 465,
 470,
 474,
 487,
 488,
 499,
 502,
 503,
 506,
 507,
 509,
 510,
 513,
 521,
 523,
 527,
 529,
 540,
 544,
 545,
 546,
 547,
 549,
 551,
 552,
 556,
 557,
 558,
 561,
 565,
 566,
 568,
 569,
 571,
 572,
 573,
 574,
 575,
 577,
 578,
 583,
 584,
 585,
 586,
 588,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 600,
 601,
 602,
 603,
 605,
 606,
 607,
 609,
 610,
 611,
 612,
 613,
 615,
 616,
 617,
 620,
 625,
 628,
 629,
 631,
 632,
 634,
 635,
 638,
 639,
 640,
 641,
 646,
 649,
 651,
 652,
 655,
 656,
 660,
 663,
 664,
 665,
 666,
 668,
 670,
 671,
 672,
 677,
 678,
 679,
 682,
 11,
 55,
 82,
 96,
 174,
 177,
 181,
 187,
 195,
 222,
 227,
 228,
 229,
 233,
 241,
 243,
 259,
 260,
 273,
 336,
 341,
 358,
 403,
 431,
 435,
 510,
 518,
 566,
 684,
 688,
 7,
 50,
 201,
 242,
 276,
 294,
 371,
 385,
 402,
 483,
 615,
 690,
 9,
 11,
 12,
 23,
 32,
 33,
 40,
 50,
 59,
 60,
 69,
 70,
 82,
 85,
 93,
 116,
 129,
 134,
 137,
 153,
 157,
 161,
 162,
 170,
 174,
 178,
 179,
 180,
 182,
 185,
 192,
 197,
 198,
 205,
 211,
 216,
 221,
 230,
 238,
 245,
 273,
 274,
 276,
 286,
 302,
 319,
 333,
 334,
 357,
 404,
 414,
 430,
 432,
 462,
 467,
 470,
 478,
 479,
 480,
 482,
 484,
 499,
 502,
 510,
 511,
 513,
 518,
 525,
 527,
 529,
 530,
 531,
 582,
 589,
 602,
 604,
 606,
 610,
 617,
 629,
 654,
 663,
 664,
 686,
 692,
 693,
 694,
 697,
 699,
 700,
 701,
 707,
 708,
 709,
 8,
 11,
 15,
 24,
 25,
 28,
 29,
 39,
 42,
 52,
 54,
 56,
 57,
 58,
 69,
 70,
 79,
 83,
 86,
 88,
 98,
 107,
 121,
 123,
 125,
 168,
 173,
 176,
 180,
 196,
 208,
 211,
 213,
 222,
 228,
 229,
 237,
 238,
 239,
 258,
 259,
 274,
 286,
 290,
 301,
 317,
 318,
 324,
 332,
 356,
 357,
 365,
 367,
 370,
 372,
 382,
 386,
 393,
 399,
 401,
 405,
 414,
 423,
 427,
 430,
 431,
 433,
 434,
 449,
 451,
 504,
 508,
 526,
 527,
 544,
 549,
 577,
 580,
 603,
 646,
 654,
 659,
 662,
 690,
 692,
 699,
 707,
 715,
 716,
 717,
 718,
 719,
 724,
 727,
 728,
 729,
 731,
 737,
 738,
 742,
 745,
 747,
 748,
 749,
 750,
 4,
 69,
 88,
 98,
 127,
 133,
 159,
 161,
 168,
 170,
 174,
 195,
 202,
 203,
 215,
 216,
 228,
 238,
 242,
 328,
 392,
 416,
 480,
 591,
 708,
 1,
 4,
 5,
 7,
 8,
 9,
 12,
 13,
 17,
 22,
 23,
 28,
 32,
 33,
 37,
 38,
 39,
 49,
 50,
 51,
 53,
 58,
 60,
 62,
 67,
 68,
 69,
 70,
 78,
 79,
 82,
 83,
 86,
 87,
 89,
 91,
 92,
 95,
 96,
 99,
 110,
 111,
 116,
 117,
 127,
 128,
 132,
 135,
 138,
 141,
 143,
 145,
 152,
 155,
 157,
 158,
 160,
 163,
 164,
 165,
 166,
 170,
 172,
 174,
 175,
 176,
 177,
 179,
 182,
 183,
 184,
 187,
 188,
 191,
 193,
 194,
 197,
 199,
 200,
 202,
 204,
 205,
 209,
 211,
 216,
 218,
 222,
 223,
 224,
 225,
 227,
 228,
 231,
 233,
 234,
 235,
 237,
 239,
 241,
 242,
 260,
 262,
 264,
 ...]

In [16]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now()
# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

date and time = 31/12/2022 09:42:35